[access "refs/*"]
        owner = group android_device_samsung_pa1q
        label-Verified = -1..+1 group android_device_samsung_pa1q
        submit = group android_device_samsung_pa1q
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[access "refs/HEAD/*"]
	push = +force group android_device_samsung_pa1q
